# ==========================
# Dependencies
# ==========================
node_modules/

# ==========================
# Environment Variables
# ==========================
.env

# ==========================
# Logs
# ==========================
logs/
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# ==========================
# Runtime Files
# ==========================
pids
*.pid
*.seed
*.pid.lock

# ==========================
# OS Files
# ==========================
.DS_Store
Thumbs.db

# ==========================
# IDE Files
# ==========================
.vscode/
.idea/

# ==========================
# Build
# ==========================
dist/
build/

# ==========================
# Coverage
# ==========================
coverage/

# ==========================
# Uploads (Optional)
# ==========================
uploads/